<mat-card>
    <mat-card-title>REGISTRO</mat-card-title>
    <mat-card-content>
        <form [formGroup]="formRegister" (ngSubmit)="register()">
            <p>
                <mat-form-field>
                    <input type="text" matInput placeholder="Nickname" formControlName="nickname">
                    <mat-error *ngIf="formRegister.controls['nickname'].hasError('required')">
                        Nickname is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <input type="text" matInput placeholder="Name" formControlName="name">
                    <mat-error *ngIf="formRegister.controls['name'].hasError('required')">
                        Name is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <input type="password" matInput placeholder="Password" formControlName="password">
                    <mat-error *ngIf="formRegister.controls['password'].hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field appearance="fill">
                    <mat-label>Team</mat-label>
                    <mat-select [disabled]="loader" formControlName="team">
                        <mat-option *ngFor="let team of teams" [value]="team.name">{{team.name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="formRegister.controls['team'].hasError('required')">
                        Team is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </p>

            <div class="button">
                <button type="submit" mat-raised-button [disabled]="formRegister.invalid || loader">REGISTRO</button>
            </div>

            <div class="button mt-3">
                <a mat-button routerLink="/login">¿Ya tienes cuenta?</a>
            </div>

        </form>
    </mat-card-content>
    <div class="button mt-3" *ngIf="loader">
        <mat-spinner [diameter]="30"></mat-spinner>
    </div>
    <mat-card class="error-card" *ngIf="textError.length > 0">{{textError}}</mat-card>

</mat-card>